BasedOnStyle: LLVM

IndentWidth: 2
TabWidth: 2
UseTab: Never

BreakBeforeBraces: Attach # 1TBS brace style
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false

PointerAlignment: Left
IndentCaseLabels: true
ColumnLimit: 100
